<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
       <h1>Selection Expression Example</h1>
       
       <p>Static Way --></p>
       <h1 th:text="${User.id}"></h1>
       <h1 th:text="${User.name}"></h1>
       
       <p>Or --></p>
       <h1>Id : [[${User.id}]]</h1>
       <h1>Id : [[${User.name}]]</h1>
       
       <p>Using Selection Expression --></p>
       <div th:object="${User}">
           <h1 th:text="*{id}"></h1>
           <h1 th:text="*{name}"></h1>   
       </div>
</body>
</html>